* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

main {
    /* position: relative; */
    border: 1px solid black;
    width: 100%;
    height: 600px;
    display: flex;
}

header {
    border: 1px solid green;
}

h1 {
    border: 1px solid blue;
    text-align: center;
    margin-bottom: 50px;
}

aside {
    /* position: absolute; */
    border: 1px solid red;
    width: 20%;
    margin-right: 20px;
}

section {
    /* position: absolute; */
    border: 1px solid violet;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
     /* margin-left: 20px; */
}

figure {
    border: 1px solid yellow;
    height: 230px;
    /* margin: 0 20px; */
}

