@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

html {
  scroll-behavior: smooth;
}

main {
    /* position: relative; */
    /* border:rgb(71, 212, 255) 1px solid; */
    width: 100%;
    display: flex;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    border: 1px solid black;
    height: 150px;
    width: 80%;
    text-align: center;
    margin: 10px 0 50px 0;
    font-family: "Shadows Into Light", cursive;
    font-weight: lighter;
    font-size: 5rem;
    letter-spacing: 2px;
}

aside {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    width: 15%;
    padding-top: 10px;
    margin-right: 20px;
}

aside h2, h3 {
    font-family: "Shadows Into Light", cursive;
    font-size: 3rem;
    font-weight: lighter;
}

hr {
    width: 80%;
    margin: 20px 0 20px 0;
}

button {
    width: 70%;
    margin: 5px;
    padding: 5px;
}

section {
    /* position: absolute; */
    border: 1px solid rgb(190, 68, 190);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: space-around;
    gap: 20px;
    margin-left: 10px;
    padding: 10px;
}

figure {
    border: 1px solid yellow;
    width: 200px;
    height: 250px;
    justify-items: center;
}

.last-name_card {
    margin-top: 10px;
}

.first-name_card {
    margin-bottom: 10px;
}

section img {
    border-radius: 10%;
}

section p {
    margin-top: 5px;
}

