@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Shadows+Into+Light&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

html {
   scroll-behavior: smooth;
}

body {
    background-color: #f5f3ef;
}

main {
    width: 100%;
    display: flex;
    justify-content: sp;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    background-color: #F8F3E6;
    border: 1px solid #2C2627;
    border-radius: 10px;
    height: 150px;
    width: 80%;
    text-align: center;
    margin: 20px 0 50px 0;
    font-family: "Shadows Into Light";
    font-weight: lighter;
    font-size: 5rem;
    text-shadow: 2px 1px 8px #474142;
    letter-spacing: 2px;
    color: #2C2627;
    /* box-shadow: 7.4px 14.9px 14.9px hsl(0deg 0% 0% / 0.27); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

aside {
    position: fixed;
    background-color: #F8F3E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ffc506;
    border-radius: 10px;
    width: 15%;
    height: 455px;
    padding-top: 10px;
    margin: 0 10px 0 10px;
    /* box-shadow: 7.4px 14.9px 14.9px hsl(0deg 0% 0% / 0.27); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

aside h2 {
    color: #2C2627;
    font-family: "Shadows Into Light";
    font-size: 3rem;
    font-weight: lighter;
    text-shadow: 2px 1px 8px #474142;
}

.barre_aside {
    width: 80%;
    margin: 15px 0 15px 0;
}

button {
    width: 70%;
    margin: 8px;
    padding: 5px;
    font-family: "Comic Neue";
    background: transparent;
    border: none;
    padding: 1em;
    color: #ffedd3;
    color: #1e1e2b;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}

button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

button:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

button:hover::before {
  width: 100%;
}

button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
 border-radius: 10px;
}

button:hover::after {
  height: 100%;
  transition-delay: 0.2s;
  color: aliceblue;
}


section {
    background-color: #F8F3E6;
    border: 1px solid #2C2627;
    border-radius: 10px;
    /* width: 100%; */
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 12px 20px 250px;
    padding: 10px 10px;
    /* box-shadow: 7.4px 14.9px 14.9px hsl(0deg 0% 0% / 0.27); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

figure {
    background-color: #f5f3ef;
    /* border: 1px solid #2C2627; */
    border-radius: 10px;
    width: 22%;
    height: 290px;
    justify-items: center;
    margin: 20px 10px;
    /* box-shadow: 7.4px 14.9px 14.9px hsl(0deg 0% 0% / 0.27); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.last-name_card {
   /* background-color: #F8F3E6; */
   width: 100%;
   padding-top: 10px;
   border-radius: 10px 10px 0 0;
   font-family: "Comic Neue";
   font-size: 2rem;
   text-shadow: 2px 1px 4px #474142;
   text-align: center;
   color: #ffc506;
   color: #2C2627;
   
}

.first-name_card {
    /* background-color: #F8F3E6; */
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-family: "Comic Neue";
    font-weight: lighter;
    text-shadow: 2px 1px 5px #474142;
    text-align: center;
    color: #ffc506;
    color: #2C2627;
    /* border-bottom: 1px solid #2C2627; */
    border-radius: 0 0 5px 5px;
}

section img {
    outline: 1px solid #F8F3E6;
    border-radius: 10%;
}

section p {
    margin-top: 11px;
    font-family: "Comic Neue";
    font-size: 1.2rem;
    /* background-color: #ffc506; */
    padding: 5px 10px;
    border-radius: 5px;
    color: #2C2627;
    text-shadow: 2px 1px 5px #474142;
}